<template>
  <div class="about">
    <h1>LONGEVITY INTIME</h1>
    <p style="padding: 50px;">
      Longevity Intime is a company developing online technology, which enables
      early diagnosis of diseases using real-time biometrics from the human
      body. Personal electronic gadgets (smart-watches, fitness-bracelets,
      etc.), portable containers for remote sampling of biomaterial (blood,
      urine, etc.), software code, and machine learning algorithms help to
      diagnose and predict the likelihood of developing serious diseases in the
      extremely early, formerly diagnosable stages, and provide recommendations
      for their prevention.
    </p>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
