
<script >
import axios from "axios";

export default {
  data() {
    return {
      // tasks
      tasks: [""],
      device_name: "",
      ip_address: "",
    };
  },
  methods: {
    async getData() {
      try {
        // fetch tasks
        const response = await axios.get("http://localhost:8000/api/tasks/");
        // set the data returned as tasks
        this.tasks = response.data;
      } catch (error) {
        // log the error
        console.log(error);
      }
    },
    async toggleTask(task) {
      try {
        // Send a request to API to update the task
        const response = await axios.put(
          `http://localhost:8000/api/tasks/${task.id}/`,
          {
            device_name: task.device_name,
            ip_address: task.ip_address,
          }
        );

        // Get the index of the task being updated
        let taskIndex = this.tasks.findIndex((t) => t.id === task.id);

        // Reset the tasks array with the new data of the updated task

        this.tasks = this.tasks.map((task) => {
          if (this.tasks.findIndex((t) => t.id === task.id) === taskIndex) {
            return response.data;
          }
          return task;
        });
      } catch (error) {
        // Log any error
        console.log(error);
      }
    },
  },
  created() {
    // Fetch tasks on page load
    this.getData();
  },
};
</script>
<template>
  <ul class="tasks_container">
    <li>
        <h1>User device Information</h1>

        <div v-for="task in tasks" :key="task.id">
          <div class="card">
            <div class="container">

            </div>
            
            <p><strong style="color: rgb(0, 69, 160);">Username:</strong> {{task.username}}</p>
            <p><strong style="color: rgb(0, 69, 160);"> Ip address: </strong>{{ task.ip_address }}</p>
            <p><strong style="color: rgb(0, 69, 160);">Device name:</strong> {{ task.device_name }}</p>
            <!-- <button @click="toggleTask(task)">edit</button> -->
          </div>
        </div>

    </li>

  </ul>
</template>

<style>
bold{

}
.tasks_container{
  margin: 100px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.card-container ul {
  text-align: center;
  margin: auto 0;
}
.card-container li {
  list-style-type: none;
  padding: .5em .5em .5em .5em;
  text-align: left;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 200px;
  align-items: flex-end;
  padding: 10px;
  margin: 10px;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  transform: scale(1.25, 1.25);
  transform-origin: 50% 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: rgb(0, 69, 160);
}
h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: rgb(0, 69, 160);
}

</style>