<script lang="ts">
// import WelcomeItem from "./WelcomeItem.vue";
import axios from "axios";
import router from "@/router";
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    async submitForm() {
      try {
        // Send a POST request to the API
        const response = await axios.post("http://localhost:8000/api/login", {
          username: this.username,
          password: this.password,
        });
        // Append the returned data to the tasks array
        console.log(response.data);

        localStorage.setItem("access_token", response.data["access"])
        localStorage.setItem("refresh_token", response.data["refresh"])

        this.$router.push('/device_info')
        // Reset the title and description field values.
        this.username = "";
        this.password = "";
      } catch (error) {
        // Log the error
        console.log(error);
      }
    },
  },
};
</script>

<template>
  <form action="" v-on:submit.prevent="submitForm">
    <div class="item">
      <i>
        <slot name="icon"></slot>
      </i>
      <div class="details">
        <h1 class="header-login">Login</h1>
        <h3>Username</h3>
        <input class="input" placeholder=" your username" v-model="username" />
      </div>
    </div>
    <div class="item">
      <i>
        <slot name="icon"></slot>
      </i>
      <div class="details">
        <h3>Password</h3>
        <input class="input" placeholder=" your username" v-model="password" />
      </div>
    </div>
    <div class="item">
      <i>
        <slot name="icon"></slot>
      </i>
      <div class="details">
        <button type="submit" class="button">
          <h3>login</h3>
        </button>
      </div>
    </div>
  </form>
</template>
<style>
item {
  margin-top: 2rem;
  display: flex;
}

.details {
  flex: 1;
  margin-left: 1rem;
}

i {
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;

  color: var(--color-text);
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: rgb(0, 69, 160);
}

@media (min-width: 1024px) {
  .item {
    margin-top: 0;
    padding: 0.4rem 0 1rem calc(var(--section-gap) / 2);
  }

  i {
    top: calc(50% - 25px);
    left: -26px;
    position: absolute;
    border: 1px solid var(--color-border);
    background: var(--color-background);
    border-radius: 8px;
    width: 50px;
    height: 50px;
  }

  .item:before {
    content: " ";
    border-left: 1px solid var(--color-border);
    position: absolute;
    left: 0;
    bottom: calc(50% + 25px);
    height: calc(50% - 25px);
  }

  .item:after {
    content: " ";
    border-left: 1px solid var(--color-border);
    position: absolute;
    left: 0;
    top: calc(50% + 25px);
    height: calc(50% - 25px);
  }

  .item:first-of-type:before {
    display: none;
  }

  .item:last-of-type:after {
    display: none;
  }

  .header-login {
    color: rgb(0, 69, 160);
    margin-left: 150px;
  }

  .input {
    height: 50px;
    width: 400px;
    border-color: rgb(50, 89, 219);
  }

  .button {
    background-color: white;
    box-shadow: inset;
    border-color: aliceblue;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-left: 150px;
  }

  h3 {
    color: rgb(50, 89, 219);
  }
}

@media only screen and (max-width: 600px) {
  .input {
    height: 50px;
    width: 300px;
    border-color: rgb(50, 89, 219);
  }

  .button {
    background-color: white;
    box-shadow: inset;
    border-color: aliceblue;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-left: 90px;
  }

  h3 {
    color: rgb(50, 89, 219);
  }
}
</style>
